@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --gold-grad-start: #f1b31a;
  --gold-grad-end: #e48f0f;
  --dis-grad-start: #888888;
  --dis-grad-end: #353535;
  --shine-grad-start: rgba(255, 232, 175, 0.74);
  --shine-grad-end: rgba(255, 255, 255, 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  height: 100vh;
  box-sizing: border-box;
  color: rgb(var(--foreground-rgb));
  background: #121212;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*  CUSTOM STYLING BY CHAIN CHIEF */

@layer components {
  .shine {
    @apply absolute w-full h-full top-0 left-0;
  }
  .small-btn {
    @apply bg-[#252525] text-[#707070] hover:text-[#c9c9c9] py-1 px-2 text-sm rounded-sm;
  }
  .small-coin {
    @apply w-8 h-8 flex items-center justify-center;
  }
}

.innerBlack {
  box-shadow: inset 0 2px 6px -1px rgb(0 0 0 / 0.48);
}

.dropBlack {
  box-shadow: 0 1px 3px -2px rgb(255 255 255 / 0.55);
}

.innerGold {
  box-shadow: inset 0 4px 3px -2px rgb(255 255 255 / 0.52);
}

.dropGold {
  box-shadow: 0 0 1px 1px rgb(233 156 19 / 0.1);
}

.innerDis {
  box-shadow: inset 0 0 3px -2px rgb(255 255 255 / 0.52);
}

.gold-btn-drop {
  box-shadow: 0 1px 0 1px rgb(147 85 12);
}

.gold-btn-drop-hover {
  box-shadow: 0 1px 0 1px rgb(192 117 28);
}

.gold-btn-inner {
  box-shadow: inset 0 4px 3px -2px rgb(255 255 255);
}

.gold-btn-hover {
  box-shadow: 0 -1px 2px 1px rgb(252 227 170 / 0.55);
}

.primary-btn:hover span {
  color: #50350b !important;
}

.nav-btn {
  background-color: rgba(30, 30, 30, 0.2);
}

.nav-btn-hover {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 0.04)
  );
}

.nav-btn-active {
  background-image: radial-gradient(
    rgba(233, 174, 21, 0.16),
    rgba(255, 255, 255, 0)
  );
}

.gold-drop-active {
  box-shadow: 0px 2px 4px -1px #0000008c;
}

.gold-inner-active {
  box-shadow: 0px 2px 7px -1px #e9ae1526 inset;
}

.new-btn {
  background-image: linear-gradient(
    270deg,
    rgba(87, 87, 87, 0.21) 15.89%,
    rgba(229, 165, 0, 0.21) 49.62%,
    rgba(87, 87, 87, 0.21) 88.54%
  );
  border: 0.5px solid;
  border-image: linear-gradient(
      90deg,
      rgba(43, 43, 43, 0) 20%,
      #e9ae15 50%,
      rgba(43, 43, 43, 0) 80%
    )
    100% 1;
  box-shadow: 0px 0.76px 2.29px -0.76px #0000006e;
}

.new-btn:hover {
  background-color: #e7af1d;
  border: 1px solid #ffe9ae;
  box-shadow: 0px 0px 7.76px 0px #e7af1dad;
}

.new-btn:hover span {
  color: black !important;
}

.locked {
  background: linear-gradient(180deg, #c29118 0%, #ae6c09 100%),
    radial-gradient(
      120.08% 100% at 50% 0%,
      rgba(255, 232, 175, 0.2) 0%,
      rgba(216, 148, 16, 0) 100%
    ),
    linear-gradient(0deg, rgba(126, 83, 14, 0.2), rgba(126, 83, 14, 0.2));
}

.done {
  background: linear-gradient(180deg, #403f3f 0%, #2a2a2a 100%),
    radial-gradient(
      120.08% 100% at 50% 0%,
      rgba(189, 189, 189, 0.25) 0%,
      rgba(31, 31, 31, 0) 100%
    );
  box-shadow: 0px 1px 0px 1px #1b1b1b;
}

.normal-btn {
  background: linear-gradient(0deg, #2e2e2e, #2e2e2e),
    linear-gradient(180deg, rgba(63, 63, 63, 0.58) 0%, rgba(35, 35, 35, 0) 100%);
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.24);
}

.btn-active {
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.6) !important;
}

.btn-hover:hover {
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.6) !important;
}

.dropdown-btn {
  background: rgba(96, 96, 96, 0.12);
  box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.43);
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.24);
}

::-webkit-scrollbar {
  width: 10px;
  background: #1d1d1d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2e2e2e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.upgrader-list::-webkit-scrollbar {
  width: 0px;
  background: #121212;
}

.message-list::-webkit-scrollbar {
  width: 10px;
  background: #181818;
}

.steam {
  background-color: #00c04c;
}

.steam-btn-drop {
  box-shadow: 0 1px 0 1px #006629;
}

header {
  border-bottom: 1px solid;
  border-image: radial-gradient(#393939 0%, rgba(57, 57, 57, 0) 100%) 100% 1;
}

.black-input:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.black-input {
  background: rgba(0, 0, 0, 0) !important;
}

.dropdown {
  background: transparent !important;
  height: 38px !important;
}

.dropdown .btn {
  background-color: transparent !important;
  border: none !important;
}

.game-card {
  background: linear-gradient(0deg, #1e1e1e, #1e1e1e),
    linear-gradient(180deg, rgba(40, 40, 40, 0.58) 0%, rgba(30, 30, 30, 0) 100%);
  border: 1px solid;
  border-image: radial-gradient(
      64.91% 64.91% at 18.35% 0%,
      #393939 0%,
      rgba(57, 57, 57, 0) 100%
    )
    1 100%;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.14);
}

.inner-green {
  box-shadow: inset 0 0 12px 1px rgba(21, 192, 89, 0.34);
}

.inner-red {
  box-shadow: inset 0 0 12px 1px rgba(198, 54, 63, 0.48);
}

#hs-overlay-backdrop-with-scrolling-backdrop {
  background: rgba(0, 0, 0, 0.6) !important;
  backdrop-filter: blur(1px) !important;
}

.token-hover:hover {
  background-image: linear-gradient(
    270deg,
    rgba(229, 149, 19, 0.14),
    rgba(229, 149, 19, 0.0406)
  ) !important;
  border-style: solid;
  border-width: 0 2px 0 0;
  border-color: #e59513;
}
.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 18px;
  width: 18px;
  background-image: url("/assets/images/crown.svg");
  background-repeat: no-repeat;
}

.white-coin-gif {
  width: 200px;
  height: 200px;
  left: 50px;
  top: -4px;
  background-image: url("/assets/coinflip/a.png");
  background-size: 100% 5100%;
  background-repeat: no-repeat;
  background-position: top;
  animation-name: coinGif;
  animation-duration: 2s;
  animation-timing-function: steps(50);
  animation-iteration-count: initial;
}

.black-coin-gif {
  width: 200px;
  height: 200px;
  left: 50px;
  top: -4px;
  background-image: url("/assets/coinflip/b.png");
  background-size: 100% 5100%;
  background-repeat: no-repeat;
  background-position: top;
  animation-name: coinGif;
  animation-duration: 2s;
  animation-timing-function: steps(50);
  animation-iteration-count: initial;
}

@keyframes coinGif {
  from {
    background-position: top;
  }
  to {
    background-position: bottom;
  }
}

.white-coin-back {
  width: 200px;
  height: 200px;
  left: 50px;
  top: -4px;
  background-image: url("/assets/coinflip/a.png");
  background-size: 100% 5100%;
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.black-coin-back {
  width: 200px;
  height: 200px;
  left: 50px;
  top: -4px;
  background-image: url("/assets/coinflip/b.png");
  background-size: 100% 5100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.modal {
  z-index: 100 !important;
}

.roulette-pro-wrapper {
  margin-top: 16px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.roulette-pro-regular-prize-item {
  width: 108px !important;
  height: 128px !important;
}

.roulette-pro-regular-prize-item-wrapper {
  border-width: 0 !important;
  background-color: transparent !important;
  background: transparent !important;
}

.black-ground {
  background-image: linear-gradient(
    to right,
    rgba(18, 18, 18, 1),
    rgba(39, 39, 39, 0.3),
    rgba(18, 18, 18, 1)
  );
}

.roulette-pro-regular-prize-item-image {
  width: 108px !important;
  height: 108px !important;
  margin-top: 10px !important;
}

.shine-gray {
  box-shadow: 0px -3px 4px 0px #6e6e6e40 inset;
}

.dropShadow {
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.24);
}
